* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(194, 205, 214);
}

body {
    font-family: "Nunito Sans", sans-serif;
    background-color: rgb(29, 29, 29);
}

.p5Canvas {
    
}

#canvas-container {
    background-image: linear-gradient(rgb(10, 27, 77), rgb(122, 207, 222));
    width: 840px;
    height: 720px;
}

/* $green: #88ce02;
$dark: #262626; */


h1 {
  font-size: 16px;
  width: 300px;
  color: #838484;
  font-weight: 300;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 20px;
  z-index: 100;
  background-color: #262626;
  border: 1px solid transparentize(white, .7);
}

h1.span {
    color: #89c540;
}

h1.strong {
    color: #fff;
}

canvas {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px #a9ebe0 solid;
}