html, body {
    height: 100%;
    font-family: 'Nunito', sans-serif;
    position: relative;
}

body {
    height: 76%;
}

.rocket {
    /* background-color: burlywood; */
    max-width: 50%;
}
.mainDiv {
    height: 110%;
}

.rowElement {
    height: 33%;
}

#currentStreak {
    text-align: center;
    margin: auto;
    font-size: xx-large;
    color: white;
}

.streak {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #1b2021;
    border-radius: 0.25rem;
    width: 45%;
    margin: 5px;
}
.date {
    height: 28%;
    background-color: #2F4E6F;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    opacity: 0.8;
}

.dateTime {
    text-align: center;
    font-size: xx-large;
    color: white;
    flex-direction: column;

}

textarea:focus, input:focus {
    outline: none;
}

.time {
    -moz-border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    border-radius: 0.25rem;
    outline:none;
    border: 0px solid red;
    color: #000000;
}

.setTime {
    border: none!important;
    height: 5%;
}

#submitPreferredSleepTimeInput {
    width: 100%;
}

#submitPreferredSleepTimeInput:hover {
    cursor: pointer;
    
}

#submitPreferredSleepTimeButton {
    background-color: #98B1C4;
    color: white;
    border-color: none;
}

#submitPreferredSleepTimeButton:hover {
    background-color: #7a848d;
}

#submitPreferredSleepTimeButton:active {
    background-color: #3b454d;
}

#checkoutButton {
    height: 23%;
    margin-top: 8px;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #E15119;
    animation: colorChanger 4s linear infinite;
}

#checkoutButton:hover {
    background-color: #a8441d;
}

#checkoutButton:active {
    background-color: #5b2510;
}

#checkoutText {
    text-align: center;
    margin: auto;
    color: white;
    font-size: 3em;
}

.timeUntil {
    /* position: relative;
    bottom: -40%;
    right: 50%; */
    text-align: center;
    color: white;
}

.alert {
    position: absolute;
    left: 33%;
    width: 35%;
    text-align: center;
    top: 14%;
    display: none;
}
.fireNumber {
    padding-left: 0;
}

#canvas-container {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(3, 7, 20, 0.7), rgb(104, 116, 130, 0.7));
    /*background: transparent; */
    border: 2px white solid;
    border-radius: 0.25rem;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* width: 100%; */
    height: 100%;
    top: 50%;
    left: 50%;

}

.mainTitle {
    text-align: center;
    color: white;
    padding-top: 1%;
    height: 5%;
    font-family: 'Fredoka One', cursive;
}

.currentFuel, .currentPosition, .currentPlanetA, .currentPlanetB {
    color: white;
}

#totalPlanets{
    background-color: #1b2021;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    width: 45%;
    margin: 5px;
    flex-direction: column;
}

#totalPlanetsText{
    text-align: center;
    margin: auto;
    color: white;
    font-size: xx-large;
}

.streakPlanet{
    flex-direction: row;
    justify-content: center;
    height: 40%;
}

.planetTextBefore {
    color: white;
    margin-top: 24px;
    font-size: 1.2em;
}

.holder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    bottom: 24px;

}

#fuelContainer {
    position: relative;
    display: flex;
    top: -20px;
    left: 1%;
    width: 30%;
}

#fuelIcon {
    display: flex;
    width: 15%;
}

.separator {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {  
    50% { opacity: 0; }
}

@keyframes colorChanger {  
    50% { background-color: #903749; }
}