html, body {
    height: 100%;
    font-family: 'Nunito', sans-serif;
    position: relative;
}

.rocket {
    /* background-color: burlywood; */
    max-width: 50%;
}
.mainDiv {
    height: 90%;
}

.rowElement {
    height: 33%;
}

#currentStreak{
    text-align: center;
    margin: auto;
    font-size: xx-large;
}

.streak {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ff317e;
    border-radius: 0.25rem;
    
    
}
.date {
    height: 28%;
    background-color: #139ecc;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
}

.dateTime {
    text-align: center;
    font-size: xx-large;
    color: white;
    flex-direction: column;

}

textarea:focus, input:focus {
    outline: none;
}

.time {
    -moz-border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    border-radius: 0.25rem;
    outline:none;
    border: 0px solid red;
    color: #000000;
}

.setTime {
    border-size: 10px;
    border-color: #dc7aff;
    height: 5%;
}

#submitPreferredSleepTimeInput {
    width: 100%;
}

#submitPreferredSleepTimeButton {
    background-color: #f77b3c;
}

#checkoutButton {
    height: 23%;
    margin-top: 8px;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #621867;
}

#checkoutText {
    text-align: center;
    margin: auto;
    color: white;
    height: 23%;
}

.timeUntil {
    /* position: relative;
    bottom: -40%;
    right: 50%; */
    text-align: center;
    color: white;
}

.alert {
    position: absolute;
    right: 25%;
    width: 10px;

    z-index: 10;
    top: -4%;
    display: none;
}
.fireNumber {
    padding-left: 0;
}

#canvas-container {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(10, 27, 77), rgb(122, 207, 222));
    /* background: transparent; */
}

canvas {

    border: 2px #242424 solid;

    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* width: 100%; */
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-30%, 0%);

}

.currentFuel, .currentPosition, .currentPlanetA, .currentPlanetB {
    color: white;
}