html, body {
    height: 100%;
}

.rocket {
    /* background-color: burlywood; */
    max-width: 50%;
}
.mainDiv{
    height: 90%;
}

.rowElement{
    height: 33%;
}

#currentStreak{
    text-align: center;
    margin: auto;
    font-size: xx-large;
}

.streak{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ff317e;
    border-radius: 0.25rem;
    
    
}
.date{
    height: 28%;
    background-color: #139ecc;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
}

.dateTime {
    text-align: center;
    font-size: xx-large;
    color: white;
    flex-direction: column;

}

.setTime{
    height: 5%;
}

#submitPreferredSleepTimeInput{
    width: 100%;
}

#submitPreferredSleepTimeButton{
    background-color: #f77b3c;
}

#checkoutButton {
    height: 23%;
    margin-top: 8px;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #621867;
}

#checkoutText {
    text-align: center;
    margin: auto;
    color: white;
}

.timeUntil{
    /* position: relative;
    bottom: -40%;
    right: 50%; */
    text-align: center;
    color: white;
}

.alert{
    position: relative;
    top: 10px;
    display: none;
}